:root {
  --text-blue:#2594b0;
  --text-black:#333333;
  --text-white:#ffff;
  --shodaw:#8a89899b;
  --text-light-blue:#2595b1ac;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato" !important;
}

a {
  text-decoration: none;
}

.btn-them {
  color: var(--text-white);
  display: inline-block;
  padding: 12px 18px 12px;
  border-radius: 25px;
  background-color: var(--text-blue);
  transition: all 0.4s linear;
}
.btn-them:hover {
  color: var(--text-blue);
  background-color: transparent;
  border: 1px solid var(--text-blue);
}

.btn-them-wh {
  background-color: var(--text-white);
  color: var(--text-blue);
  border: 1px solid transparent;
  transition: all 0.4s ease-in-out;
}
.btn-them-wh:hover {
  background-color: transparent;
  border: 1px solid var(--text-white);
  color: var(--text-white);
}

.titel-them span {
  display: inline-block;
  color: var(--text-blue);
  margin-bottom: 15px;
}
.titel-them h2 {
  text-transform: capitalize;
  color: var(--text-black);
  font-weight: 900;
  font-size: 36px;
  margin-bottom: 15px;
}
.titel-them p {
  color: var(--text-black);
  line-height: 1.7;
}
.titel-them a {
  margin-top: 20px;
}

.nav-active {
  background-color: #fff;
  transform: translate(0);
  opacity: 1;
}

.hide {
  transform: translateY(-100%);
}

.them-show {
  transform: translate(0, -50%) !important;
}

.btn-them.top-button {
  z-index: 99;
  position: fixed;
  bottom: 20px;
  right: 20px;
  border-radius: 5px;
  background-color: #000;
}

.them-switcher {
  position: fixed;
  top: 50%;
  right: 0;
  transform: translate(100%, -50%);
  z-index: 99;
  padding: 10px 15px;
  border-radius: 5px 0 0 5px;
  background-color: var(--text-white);
  box-shadow: 0 0 8px #919191;
  transition: all 0.4s ease-in-out;
}
.them-switcher .switch {
  position: absolute;
  right: 100%;
  top: 50%;
  transform: translateY(-50%);
  display: inline-block;
  padding: 15px;
  color: #fff;
  background-color: #000;
  border-radius: 5px 0 0 5px;
  box-shadow: inherit;
  z-index: -1;
}
.them-switcher ul {
  display: flex;
  margin: 0;
}
.them-switcher ul li {
  border-radius: 5px;
  box-shadow: 0 0 8px #919191;
  margin: 0;
  cursor: pointer;
  height: 40px;
  width: 40px;
  margin: 10px;
}

header {
  background-color: #fff;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  box-shadow: 0 0 8px var(--shodaw);
  padding: 10px 0;
  z-index: 9;
  transition: all 0.4s ease-in-out;
}
header .logo {
  display: inline-block;
  font-weight: 900;
  font-size: 28px;
  color: var(--text-black);
}
header .logo span {
  color: var(--text-blue);
}
header nav {
  position: fixed;
  top: 65px;
  left: 0;
  box-shadow: 4px 0 8px var(--shodaw);
  height: 100vh;
  width: 200px;
  transform: translate(-100%);
  opacity: 0;
  transition: all 0.4s ease-in-out;
  z-index: 9;
}
header nav ul {
  margin: 0;
  display: block;
  list-style: none;
  padding: 0;
}
header nav ul li a {
  color: var(--text-black);
  width: 100%;
  display: inline-block;
  padding: 20px 40px;
  font-size: 20px;
}
header nav ul li a:hover {
  background-color: var(--text-blue);
}
header .toggle-btn {
  font-size: 20px;
  color: var(--text-black);
  margin-left: 15px;
}

main .banner {
  background-position: bottom;
  background-size: cover;
  position: relative;
  background-color: var(--text-blue);
}
main .banner .banner-inner {
  padding: 100px 0;
}
main .banner .banner-inner .banner-content {
  padding-left: 20px;
  padding-right: 100px;
  color: var(--text-white);
}
main .banner .banner-inner .banner-content h1 {
  font-weight: 900;
  font-size: 48px;
  margin-bottom: 16px;
}
main .banner .banner-inner .banner-content p:last-of-type {
  margin-bottom: 30px;
}
main .banner .banner-inner .banner-img {
  display: none;
}
main .about {
  padding: 100px 0;
}
main .about .about-img img {
  border-radius: 5px;
  box-shadow: 0 0 8px var(--shodaw);
}
main .about .about-content {
  padding: 0 20px;
}
main .about .about-content p {
  line-height: 1.7;
}
main .doctors {
  background-color: var(--text-blue);
}
main .doctors .doctors-inner {
  padding: 50px 0;
}
main .doctors .doctors-inner .titel-them span {
  color: var(--text-white);
}
main .doctors .doctors-inner .titel-them h2 {
  color: var(--text-white);
}
main .doctors .doctors-inner .titel-them p {
  color: var(--text-white);
  line-height: 1.7;
}
main .doctors .doctors-inner .doctors-content {
  padding: 0 20px;
  color: #fff !important;
}
main .doctors .doctors-inner .doctors-content .btn-them-wh {
  background-color: transparent;
  border: 1px solid #fff;
  color: #fff;
}
main .doctors .doctors-inner .doctors-content .btn-them-wh:hover {
  background-color: #fff;
  color: var(--text-blue);
}
main .future {
  padding: 100px 0;
}
main .future .future-titel h2 {
  max-width: 200px;
}
main .future .future-inner .future-item {
  background-color: #fff;
  margin-bottom: 24px;
  padding: 30px;
  box-shadow: 10px 4px 25px rgba(149, 149, 149, 0.262);
}
main .future .future-inner .future-item i {
  font-size: 45px;
  color: var(--text-blue);
}
main .future .future-inner .future-item .fa-thumbtack {
  rotate: -45deg;
}
main .future .future-inner .future-item h3 {
  font-weight: 800;
  font-size: 24px;
  margin: 18px 0 15px;
}
main .value {
  background-color: var(--text-blue);
  padding: 50px 0;
  color: #fff;
}
main .value .value-item {
  text-align: center;
}
main .value .value-item h3 {
  font-size: 38px;
  margin: 0 0 5px 0;
  font-weight: 900;
}
main .value .value-item p {
  margin: 0;
}
main .why-us {
  padding: 100px 0;
}
main .why-us .why-us-conten {
  padding-left: 20px;
}
main .why-us .why-us-conten ul {
  margin: 20px 0 0 0;
  list-style-image: url(../image/li-icon.svg);
  font-size: 18px;
}
main .why-us .why-us-conten ul li {
  margin-bottom: 18px;
}
main .why-us .why-us-img img {
  border-radius: 5px;
  box-shadow: 0 0 8px gainsboro;
}
main .complaint {
  background-color: var(--text-blue);
  padding: 50px 0;
  color: var(--text-white);
}
main .complaint h2 {
  font-size: 32px;
  margin-bottom: 20px;
  font-weight: 900;
}
main .complaint a {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translatey(-50%);
}
main .testimonial {
  padding: 100px 0;
}
main .testimonial .testimonial-inner {
  margin-top: 50px;
}
main .testimonial .testimonial-inner .row {
  overflow: auto;
  -ms-scroll-snap-type: x mandatory;
      scroll-snap-type: x mandatory;
}
main .testimonial .testimonial-inner .testimonial-item {
  scroll-snap-align: center;
  background-color: #f8f8f8;
  padding: 35px 40px;
  margin: 0 5px;
}
main .testimonial .testimonial-inner .testimonial-item img {
  display: block;
  margin: 35px auto;
}
main .testimonial .testimonial-inner .testimonial-item > p {
  margin-bottom: 50px;
}
main .testimonial .testimonial-inner .testimonial-item p {
  color: #727272;
  font-size: 18px;
  line-height: 1.7;
}
main .testimonial .testimonial-inner .testimonial-item div {
  position: relative;
  padding: 35px 0 0 0;
}
main .testimonial .testimonial-inner .testimonial-item div::before {
  content: "";
  position: absolute;
  top: 0;
  width: 80px;
  height: 2px;
  background-color: var(--text-blue);
}
main .brand .owl-dots {
  transform: translatey(-35px);
}
main .brand .owl-dots button span {
  width: 15px !important;
  height: 15px !important;
}
main .brand .item {
  padding: 0 25px !important;
}
main .accoridion .accoridion-inner .accoridion-item {
  border-radius: 5px;
  overflow: hidden;
  margin: 5px 0;
}
main .accoridion .accoridion-inner .accoridion-item .accoridion-head {
  background-color: rgba(37, 149, 177, 0.462745098);
  padding: 5px 10px;
  cursor: pointer;
}
main .accoridion .accoridion-inner .accoridion-item .accoridion-head h2 {
  font-size: 28px;
  font-weight: 600;
  color: #333333;
}
main .accoridion .accoridion-inner .accoridion-item .accoridion-head h2 span i {
  font-size: 22px;
  margin-right: 20px;
}
main .accoridion .accoridion-inner .accoridion-item .accoridion-cotent {
  border: 1px solid var(--text-light-blue);
  display: none;
  padding: 15px 15px 0 15px;
}
main .gallery {
  padding: 100px 0;
}
main .gallery .gallery-inner {
  -moz-column-count: 3;
       column-count: 3;
}
main .gallery .gallery-inner a {
  margin: 10px;
  display: inline-block;
}
main .gallery .gallery-inner a img {
  width: 100%;
  display: block;
  border-radius: 5px;
  box-shadow: 0 0 10px #dadada;
}

footer {
  position: relative;
  background: var(--text-blue);
  color: var(--text-white);
  margin-top: 100px;
}
footer .contact {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  box-shadow: 0px 0px 8px rgb(94, 93, 93);
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 10px 15px;
  color: #000;
}
footer .contact i {
  display: inline-block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  color: var(--text-white);
  line-height: 50px;
  text-align: center;
  font-size: 25px;
  background-color: var(--text-blue);
  margin-right: 15px;
}
footer .contact .contact-no p {
  margin-bottom: 0;
}
footer .contact .contact-no h2 {
  font-weight: 900;
  margin: 0;
  font-size: 18px;
}
footer .footer-inner {
  padding: 100px 0;
}
footer .footer-inner .footer-item h2 {
  font-size: 40px;
  font-weight: 900;
}
footer .footer-inner .footer-item > p {
  margin: 18px 0;
  line-height: 1.7;
}
footer .footer-inner .footer-item h4 {
  font-weight: 800;
  margin-bottom: 20px;
}
footer .footer-inner .footer-item p {
  max-width: 380px;
}
footer .footer-inner .footer-item ul {
  list-style: none;
  padding: 0;
}
footer .footer-inner .footer-item ul li {
  margin: 0;
}
footer .footer-inner .footer-item ul li a {
  display: inline-block;
  color: inherit;
  margin: 5px 0;
}
footer .copy-right {
  border-top: 1px solid #fff;
  padding: 20px 0;
}
footer .copy-right p {
  margin: 0;
}
footer .copy-right .copy-right-icon a {
  color: inherit;
  font-size: 22px;
  display: inline-block;
  margin-left: 8px;
}

.orange header nav ul li a:hover {
  color: #FFA500;
}
.orange .why-us ul {
  list-style-image: url(../image/li-icon-or.svg) !important;
}
.orange .accoridion .accoridion-head {
  background-color: rgba(255, 166, 0, 0.262745098) !important;
}
.orange .accoridion .accoridion-cotent {
  border: 1px solid rgba(255, 166, 0, 0.262745098) !important;
}

.red header nav ul li a:hover {
  color: #FC0A00;
}
.red .why-us ul {
  list-style-image: url(../image/li-icon-re.svg) !important;
}
.red .accoridion .accoridion-head {
  background-color: rgba(252, 8, 0, 0.2705882353) !important;
}
.red .accoridion .accoridion-cotent {
  border: 1px solid rgba(252, 8, 0, 0.2705882353) !important;
}

.dark header nav ul li a:hover {
  color: #000;
}
.dark .why-us ul {
  list-style-image: url(../image/li-icon-dr.svg) !important;
}
.dark .accoridion .accoridion-head {
  background-color: rgba(51, 51, 51, 0.2745098039) !important;
}
.dark .accoridion .accoridion-cotent {
  border: 1px solid rgba(51, 51, 51, 0.2745098039) !important;
}/*# sourceMappingURL=style.css.map */